<html>
    <head>
        <meta http-equiv="refresh" content="{{ freq }}" />
        <title>TP2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- JQuery -->
        <script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" />
        <!-- Bootstrap JS -->
        <script src="{{url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

        <style type="text/css">

        	.page-header{
        		border-bottom: 1px solid;
        		margin-bottom: 2%;
        	}

        </style>

    </head>

    <body>

    	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TP2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> Valores atmosféricos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://info.unlp.edu.ar/">Fac. Informática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.ing.unlp.edu.ar/">Fac. Ingeniería</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Links de interés
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://ideas.info.unlp.edu.ar/">IdeasUNLP</a>
                            <a class="dropdown-item" href="#">Otro..</a>                            
                        </div>
                    </li>
                </ul>
            </div>            
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4">Taller de Proyecto II</h3>
                <p class="lead">Simulacion de medicion</p>
            </div>
        </div>


        <h3 class="text-left">Cantidad de Muestras en un Segundo:</h3>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <form action="/form_sense/1" method="POST">
                <div class="form-group">
                  {% if freq == 1 %}
                  <button type="submit" class="btn btn-success btn-block" disabled="disabled">1</button>
                  {% else %}
                  <button type="submit" class="btn btn-success btn-block">1</button>
                  {% endif %}
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-2">
              <form action="/form_sense/3" method="POST">
                <div class="form-group">
                  {% if freq == 3 %}
                  <button type="submit" class="btn btn-success btn-block" disabled="disabled">3</button>
                  {% else %}
                  <button type="submit" class="btn btn-success btn-block">3</button>
                  {% endif %}
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-2">
              <form action="/form_sense/5" method="POST">
                <div class="form-group">
                  {% if freq == 5 %}
                  <button type="submit" class="btn btn-success btn-block" disabled="disabled">5</button>
                  {% else %}
                  <button type="submit" class="btn btn-success btn-block">5</button>
                  {% endif %}
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-2">
              <form action="/form_sense/10" method="POST">
                <div class="form-group">
                  {% if freq == 10 %}
                  <button type="submit" class="btn btn-success btn-block" disabled="disabled">10</button>
                  {% else %}
                  <button type="submit" class="btn btn-success btn-block">10</button>
                  {% endif %}
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-2">
              <form action="/form_sense/30" method="POST">
                <div class="form-group">
                  {% if freq == 30 %}
                  <button type="submit" class="btn btn-success btn-block" disabled="disabled">30</button>
                  {% else %}
                  <button type="submit" class="btn btn-success btn-block">30</button>
                  {% endif %}
                </div>
              </form>
            </div>
              <div class="col-md-2 col-sm-2">
              <form action="/form_sense/60" method="POST">
                <div class="form-group">
                  {% if freq == 60 %}
                  <button type="submit" class="btn btn-success btn-block" disabled="disabled">60</button>
                  {% else %}
                  <button type="submit" class="btn btn-success btn-block">60</button>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>

        <div class="container">
        	
        	<div class="page-header">
			    <h1>Valores</h1>
			</div>        	

			<ul class="list-group">
			    <li class="list-group-item"><b>Frecuencia:</b> {{ freq }} </li>
			    <li class="list-group-item"><b>Temperatura actual:</b> {{ tempa }} </li>
			    <li class="list-group-item"><b>Presion actual:</b> {{ presa }} </li>
			    <li class="list-group-item"><b>Humedad actual:</b>  {{ humea }} </li>
			    <li class="list-group-item"><b>Viento actual:</b>  {{ winda }} </li>
			    <li class="list-group-item"><b>Temperatura media:</b> {{ tempm }} </li>
			    <li class="list-group-item"><b>Presion media:</b> {{ presm }} </li>
			    <li class="list-group-item"><b>Humedad media:</b>  {{ humem }} </li>
			    <li class="list-group-item"><b>Viento medio:</b>  {{ windm }} </li>
			</ul>        	

        </div>        

    </body>
</html>